{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid mt-3">
  <div class="container">
    <h1 class="display-4">Bienvenu sur SymRecette</h1>
    <p class="lead">SymRecette est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi même créer.Tu pourras partager les recettes à ta communauté sur le site ou les garder en privé </p>
  <hr>
  Pour cela, rendez vous sur la page d'inscription pour utiliser l'application<br>
  <button class="btn btn-primary">Inscription<button/></div>
  
</div>
{% endblock %}
